:root {
    --background-color: #ffffff;
    --color-text1: #757575;
    --color-text2: #212121;
    --color-text3: #2196f3;
    --background-color6: #2196f3;
    --color-text4: #000000;
    --color-text5: #ffffff;
    --color-text7: #afb1b8;
    --background-color1: #2f303a;
    --color-shadow: rgba(0, 0, 0, 0.15);
    --color-shadow1: rgba(0, 0, 0, 0.12);
    --color-shadow2: rgba(0, 0, 0, 0.14);
    --color-shadow3: rgba(0, 0, 0, 0.2);
    --background-color2: #2f303a;
    --background-color3: #e5e5e5;
    --background-color7: rgba(0, 0, 0, 0.25);

    --color-text6: rgba(255, 255, 255, 0.6);
    --backdrop-transparency: rgba(0, 0, 0, 0.2);
    --border-color: #ececec;
    --background-color4: #f5f4fa;

    --border-color1: #eeeeee;
    --border-color2: #afb1b8;
    --border-color3: #2196f3;
    --border-color4: rgba(0, 0, 0, 0.1);
    --border-color5: rgba(255, 255, 255, 0.3);
    --border-color6: rgba(33, 33, 33, 0.2);

    --border-radius: 4px;
    --linear-gradient: rgba(47, 48, 58, 0.4);
    --background-color8: rgba(47, 48, 58, 0.8);
    --transition: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.body {
    font-family: "Roboto", sans-serif;
    color: var(--color-text2);
    margin: 0;
}

.web-studio {
    text-decoration: none;
    color: var(--color-text4);
    margin-top: 5px;
    font-weight: 700;

    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text4);
}
.blue-color {
    color: var(--color-text3);
}

.header-elements {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}
.header {
    border-bottom: 1px solid var(--border-color);
    height: 80px;
    display: flex;
    align-items: center;
}
.header-portfolio {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}
.container {
    max-width: 1200px;
    width: 100%;

    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
}
.item {
    list-style: none;
}
.mail {
    list-style: none;
}
.tel {
    list-style: none;
}
.contact-data {
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link {
    text-decoration: none;
}
.mail-link {
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    color: var(--color-text1);
    fill: var(--color-text1);
    transition: color var(--transition) var(--transition-timing-function),
        fill var(--transition) var(--transition-timing-function);
}
.mail-link:hover {
    color: var(--color-text3);
    fill: var(--color-text3);
}

.tel-link {
    text-decoration: none;
    color: var(--color-text1);
    fill: var(--color-text1);

    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: center;
    transition: color var(--transition) var(--transition-timing-function),
        fill var(--transition) var(--transition-timing-function);
}
.tel-link:hover {
    color: var(--color-text3);
    fill: var(--color-text3);
}

.mail-portfolio {
    text-decoration: none;
    color: var(--color-text1);
    fill: var(--color-text1);

    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    transition: color var(--transition) var(--transition-timing-function),
        fill var(--transition) var(--transition-timing-function);
}
.mail-portfolio:hover {
    color: var(--color-text3);
    fill: var(--color-text3);
}

.tel-portfolio {
    text-decoration: none;
    color: var(--color-text1);
    fill: var(--color-text1);

    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: center;
    transition: color var(--transition) var(--transition-timing-function),
        fill var(--transition) var(--transition-timing-function);
}
.tel-portfolio:hover {
    color: var(--color-text3);
    fill: var(--color-text3);
}
.menu {
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.agency {
    color: var(--color-text2);
    position: relative;
}
.agency:visited {
    color: var(--color-text3);
}

.contact {
    color: var(--color-text2);
    transition: color var(--transition);
    transition-timing-function: var(--transition-timing-function);
}
.contact:hover {
    color: var(--color-text3);
}
.portfolio-nav {
    color: var(--color-text2);
    transition: color var(--transition);
    transition-timing-function: var(--transition-timing-function);
}
.portfolio-nav:hover {
    color: var(--color-text3);
}

.agency-portfolio {
    color: var(--color-text2);
    transition: color var(--transition);
    transition-timing-function: var(--transition-timing-function);
}
.agency-portfolio:hover {
    color: var(--color-text3);
}
.portfolio {
    color: var(--color-text2);
    position: relative;
}
.active-page::after {
    content: "";
    position: absolute;
    background-color: var(--background-color6);
    top: 44px;
    height: 5px;
    width: 100%;
    left: 0;
    border-radius: 2px;
}
.portfolio:visited {
    color: var(--color-text3);
}
.section {
    margin-block: 94px;
}
.main-section {
    background-color: var(--background-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(var(--linear-gradient), var(--linear-gradient)),
        url("../images/main/background-image.jpg");
    background-size: cover;
    padding: 200px 0;
}
.main-background {
    max-width: 1600px;
    margin: 0 auto;
}
.main-text {
    width: 696px;
    margin-block-start: 0;
    margin-block-end: 0;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-text5);
}
.btn {
    background-color: var(--color-text3);
    box-shadow: 0 4px 4px var(--color-shadow);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.06em;
    color: var(--color-text5);
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 40px 10px 40px;
    border: 0;
}
.text-section {
    display: flex;
    gap: 30px;
    align-items: center;
}

.text-li {
    list-style: none;
}
.text-paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-block-start: 0;
    color: var(--color-text1);
}
.photos-list {
    display: flex;
    gap: 30px;
}

.job-header {
    display: flex;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    justify-content: center;
}
.section-team {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color4);
}

.team {
    padding-top: 15px;
    background-color: var(--background-color4);
}

.header-two {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.people {
    box-shadow: 0 1px 3px var(--color-shadow1), 0 1px 1px var(--color-shadow2),
        0 2px 1px var(--color-shadow3);
    border-radius: 0 0 4px 4px;
    background-color: var(--background-color);
}

.name {
    height: 30px;
    text-align: center;
}
.footer-li {
    list-style: none;
    padding-left: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.19;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 10px;
}
.footer-element {
    background-color: var(--background-color1);
}
.footer-elements-studio {
    display: flex;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    text-decoration: none;
}
.blue-color {
    color: var(--color-text3);
}
.address {
    color: var(--color-text5);
    white-space: nowrap;
}
.white-color {
    color: var(--color-text5);
}
.logo-footer {
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
}
.tel-footer {
    text-decoration: none;
    color: var(--color-text6);
}
.mail-footer {
    text-decoration: none;
    color: var(--color-text6);
}
.container-portfolio {
    background-color: var(--background-color2);
}
.footer-elements-portfolio {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    display: flex;

    letter-spacing: 0.03em;
    text-decoration: none;
}
.address-element-portfolio {
    padding: 60px 0;
}
.address-element-studio {
    padding: 60px 0;
}
.mail-footer-portfolio {
    text-decoration: none;
    color: var(--color-text6);
    text-decoration: underline;
}
.tel-footer-portfolio {
    text-decoration: none;
    color: var(--color-text6);
}
.main-portfolio {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.nav-all {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--background-color4);
    color: var(--color-text2);
    padding: 6px 22px;
    border-radius: var(--border-radius);
    transition: color var(--transition) var(--transition-timing-function),
        background-color var(--transition) var(--transition-timing-function);
}
.nav-all:hover {
    background-color: var(--color-text3);
    color: var(--color-text5);
    box-shadow: 0px 4px 4px 0px #00000040;
}
.nav-pages {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--background-color4);
    color: var(--color-text2);
    padding: 6px 22px;
    border-radius: var(--border-radius);
    transition: color var(--transition) var(--transition-timing-function),
        background-color var(--transition) var(--transition-timing-function);
}
.nav-pages:hover {
    background-color: var(--color-text3);
    color: var(--color-text5);
    box-shadow: 0px 4px 4px 0px #00000040;
}
.nav-aplications {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--background-color4);
    color: var(--color-text2);
    padding: 6px 22px;
    border-radius: var(--border-radius);
    transition: color var(--transition) var(--transition-timing-function),
        background-color var(--transition) var(--transition-timing-function);
}
.nav-aplications:hover {
    background-color: var(--color-text3);
    color: var(--color-text5);
    box-shadow: 0px 4px 4px 0px #00000040;
}
.nav-design {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--background-color4);
    color: var(--color-text2);
    padding: 6px 22px;
    border-radius: var(--border-radius);
    transition: color var(--transition) var(--transition-timing-function),
        background-color var(--transition) var(--transition-timing-function);
}
.nav-design:hover {
    background-color: var(--color-text3);
    color: var(--color-text5);
    box-shadow: 0px 4px 4px 0px #00000040;
}
.nav-marketing {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--background-color4);
    color: var(--color-text2);
    padding: 6px 22px;
    border-radius: var(--border-radius);
    transition: color var(--transition) var(--transition-timing-function),
        background-color var(--transition) var(--transition-timing-function);
}
.nav-marketing:hover {
    background-color: var(--color-text3);
    color: var(--color-text5);
    box-shadow: 0px 4px 4px 0px #00000040;
}
.see-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
    text-align: center;
}
.card {
    border: 1px solid var(--border-color1);
    margin-top: 20px;
    margin-left: 15px;
    cursor: pointer;
    transform: translateY(0);
    transition: transform var(--transition) var(--transition-timing-function),
        box-shadow var(--transition) var(--transition-timing-function);
}
.card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-icon {
    align-items: center;
    flex-direction: column;

    padding: 60px 40px;
}

.item-footer {
    list-style: none;
    padding-bottom: 15px;
}

.text-icon-portfolio {
    font-size: 14px;
    color: var(--color-text5);
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-block-end: 0;
}
.text-icon-studio {
    font-size: 14px;
    color: var(--color-text5);
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.function-icon {
    background-color: var(--background-color4);
    padding: 25px 100px;
    border-radius: var(--border-radius);
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
}
.function {
    display: flex;
    flex-direction: column;
}
.our-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}
.text-clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.icon-clients {
    display: flex;
    gap: 30px;
}
.logo {
    width: 106px;
    height: 60px;
}
.logo-4 {
    width: 106px;
    height: 60px;
}
.icon-header {
    transition: fill color var(--transition);
}
.customer-icon {
    cursor: pointer;
    border: 1px solid var(--border-color2);
    display: flex;
    padding: 16px 32px;
    fill: var(--color-text7);

    border-radius: 4px;
    transition: fill var(--transition) var(--transition-timing-function),
        border-color var(--transition) var(--transition-timing-function);
}

.customer-icon:hover {
    border: 1px solid var(--border-color3);
    fill: var(--color-text3);
}

.icon-list {
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
}
.social-icon {
    width: 20px;
    height: 20px;
    transition: color var(--transition);
}

.icon-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    fill: var(--color-text7);
    background-color: var(--background-color);
    border-radius: 50%;
    transition: background-color var(--transition)
            var(--transition-timing-function),
        fill var(--transition) var(--transition-timing-function);
}
.icon-link:hover {
    background-color: var(--background-color6);
    fill: var(--color-text5);
}
.social-icon-footer {
    display: flex;
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    gap: 10px;
}
.icon-footer {
    width: 20px;
    height: 20px;
}
.icon-link-footer {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    background-color: var(--background-color7);
    justify-content: center;
    border-radius: 50%;
    transition: background-color var(--transition)
        var(--transition-timing-function);
}
.icon-link-footer:hover {
    background-color: var(--background-color6);
}
.social-icon-portfolio {
    display: flex;
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    gap: 10px;
    padding-top: 20px;
}
.photo {
    position: relative;
}
.text-photo {
    position: absolute;
    text-transform: uppercase;
    background-color: var(--background-color8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text5);
    height: 70px;
    width: 370px;
    z-index: 2;
    bottom: 3px;
    padding: 30px 0;
    margin-block-end: 0;
    margin-block-start: 0;
}
.portfolio-photo {
    position: relative;
    overflow: hidden;
}

.wrapper-text {
    position: absolute;
    transition: var(--transition);
    transition-timing-function: var(--transition-timing-function);
    background-color: var(--background-color6);
    font-size: 18px;
    line-height: 1.55;

    letter-spacing: 0.03em;

    color: var(--color-text5);
    transform: translateY(0);
    font-size: 18px;
    height: 100%;
    width: 100%;
    padding: 49px 24px;
}
.card:hover .wrapper-text {
    transform: translateY(-100%);
}
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--backdrop-transparency);
    transition: transform var(--transition);
    display: flex;
    z-index: 3;
}

.is-hidden {
    transform: translateX(-100%);
}
.modal {
    width: 580px;
    height: 640px;
    background-color: var(--background-color);
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 1px 3px var(--color-shadow1), 0 1px 1px var(--color-shadow2),
        0 2px 1px var(--color-shadow3);
}

.close {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);
    border: 1px solid var(--border-color4);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    right: 10px;
    position: absolute;
}

.modal-content {
    margin-top: 30px;
}
.input {
    width: 440px;
    height: 35px;
    border-radius: 4px;
    padding-left: 50px;
    border: 1px solid var(--border-color6);
    transition: border-color var(--transition) var(--transition-timing-function);
}

.wrapper-form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: relative;
}
.label-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.label-text {
    display: flex;
    margin-block-end: 0;
    color: var(--color-text1);
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;
}
.name-input {
    width: 400px;
    height: 35px;
}
.form-icon {
    height: 24px;
    position: absolute;
    top: 46px;
    right: 266px;
    transition: fill var(--transition) var(--transition-timing-function);
}
.checkbox-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.text-form {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    margin-inline-end: 0;
    margin-block-end: 0;
}
.text-area-field {
    width: 438px;
    height: 138px;
    resize: none;
    border-radius: 4px;
    border: 1px solid var(--border-color6);
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 4px;
    transition: border-color var(--transition) var(--transition-timing-function);
}
.button-form {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    background-color: var(--background-color6);
    color: var(--color-text5);
    box-shadow: 0 4px 4px var(--color-shadow);
    border-radius: 4px;
    border: 0;
    margin-top: 10px;
    cursor: pointer;
}
.icon-checkbox {
    position: absolute;
    width: 16px;
    height: 15px;
    right: 400px;
    border: 1px solid var(--color-text1);
    cursor: pointer;
    display: none;
}
.legal-text {
    color: var(--color-text1);
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    position: relative;
}
.legal-label {
    border: 1px solid var(--color-text2);
    width: 16px;
    height: 15px;
    position: absolute;
    top: 19px;
    right: 394px;
    cursor: pointer;
    transition: border-color var(--transition) var(--transition-timing-function);
}

.checkbox {
    visibility: hidden;
    transition: background-color var(--transition)
        var(--transition-timing-function);
}
.check {
    width: 16px;
    height: 15px;
    position: absolute;
    right: -1px;
    top: -1px;
    fill: var(--color-text5);
    transition: background-color var(--transition)
        var(--transition-timing-function);
}
.checkbox:checked + svg {
    background-color: var(--background-color6);
}
.legal-text-link {
    color: var(--color-text3);
}
.form .input:focus {
    outline: 0;
}
.form .text-area-field:focus {
    outline: 0;
}
.input:focus {
    border-color: var(--border-color3);
}
.label-input:has(input:focus) .form-icon {
    fill: var(--color-text3);
}
.text-area-field:focus {
    border-color: var(--border-color3);
}
.legal-checkbox {
    border: 1px solid var(--color-text1);
}
.newsletter-wrapper {
    display: flex;
    gap: 12px;
}
.label-footer-text {
    text-transform: uppercase;
    color: var(--color-text5);
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.newsletter-footer {
    align-items: center;
    flex-direction: column;

    padding: 60px 40px;
}
.footer-input {
    width: 358px;
    height: 50px;
    background-color: var(--background-color1);
    outline: 0;
    border: 1px solid var(--border-color5);
    border-radius: 4px;
    padding-left: 15px;
}
.label-footer {
    white-space: nowrap;
}
.button-newsletter {
    width: 200px;
    height: 50px;
    background-color: var(--background-color6);
    color: var(--color-text5);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 4px var(--color-shadow);
}
.button-text {
    font-size: 16px;
    line-height: 1.87;

    font-weight: 700;
    letter-spacing: 0.06em;

    height: 30px;
}
.icon-newsletter {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 14px;
}
